---
import Layout from '../layouts/Layout.astro';
import BlogCard from '../components/BlogCard.astro';
const title = ['Past day', 'China', 'future'];
let pictureTitle = title[0];
---

<Layout title="lockon">
	<main class="p-8 sm:px-[103px] sm:py-0">
		<div class="flex justify-between h-full gap-8">
			<div class="md:min-w-[161px]">
				{
					title.map((item, index) => (
						// 將 key 放到最外層，而不是 h3 的屬性
						<h3 class={`cursor-pointer ${pictureTitle === item ? 'text-gold-500' : 'text-black'}`} data-index={index}>
							{item}
						</h3>
					))
				}
			</div>
			<div class="flex gap-[40px] flex-wrap overflow-auto scroll pb-5 justify-center  h-[calc(100vh-130px-148px-64px)] sm:h-[calc(100vh-130px-148px)]">
				<BlogCard pictureTitle={pictureTitle} />
				<BlogCard pictureTitle={pictureTitle} />
				<BlogCard pictureTitle={pictureTitle} />
				<BlogCard pictureTitle={pictureTitle} />
			</div>
			<div>
				<h1 class="hollow-text hidden md:flex">JOURNAL</h1>
			</div>
		</div>
	</main>
</Layout>
<style>
	.hollow-text {
		font-size: 5rem;
		font-weight: bold;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke: 1px #d2b48c;
		writing-mode: vertical-rl; /* 竖排文本 */
		text-orientation: mixed; /* 文字方向 */
		letter-spacing: 1rem; /* 字母间距 */
		text-align: center; /* 文本居中对齐 */
	}
	.scroll::-webkit-scrollbar-track {
		/* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
		background-color: #f1ece0;
	}
	/* 捲軸寬度 */
	.scroll::-webkit-scrollbar {
		width: 6px;
		background-color: #f1ece0;
	}
	/* 捲軸本體顏色 */
	.scroll::-webkit-scrollbar-thumb {
		background-color: #f1ece0;
		border-radius: 20px;
	}
</style>
